.banner {
	position: relative;
	background-color: #FFF;
	.item1 {
		background-image: url("../images/banner1.jpg");
		@extend %banner-image;
	}
	.item2 {
		background-image: url("../images/banner2.jpg");
		@extend %banner-image;
	}
	.item3 {
		background-image: url("../images/banner3.jpg");
		@extend %banner-image;
	}
}





	

