.content {
	background-color: #FFF;
}

.info-box {
	position: relative;
	top: -40px;
	margin-bottom: 15px;
	text-align: center;
	background-color: $infobox-bgcolor;
	h5 {
		padding: 35px 0 20px 0;
	}
	p {
		padding: 10px;	
	}	
	a {
		margin-bottom: 20px;
	}
	&:hover {
		background-color: $infobox-bgcolor-hover;
		color: #fff;
	}	
}

.introduce {
	margin: 15px 0;
	h2 {
		margin-bottom: 20px;
	}
	.choose li {
		margin-bottom: 30px;
		span .fa {
			width: 40px;
			height: 40px;
			padding-left: 18px;
	    	padding-top: 8px;
	    	margin-right: 10px;
			font-size: 20px;
			color: #fff;
			background-color: $arrow-bgcolor;
			border-radius: 99em;
		}
		a {
			color: $chooselink-bgcolor;
		}
		&:hover {
			span .fa {
				background-color: $arrow-bgcolor-hover;
			}
			a {
				color: $chooselink-bgcolor-hover;
				text-decoration: none;
			}
		}
	}  
	.news {
		div:first-child {
			margin-bottom: 30px;
		}
		div .more {
			padding-left: 30px;
		}
		img {
			width: 100%;
		}
		h5 {
			width: 90px;
			padding: 5px;
			background-color: $news-date;
		}
	}
}

.works {
	#owl-works {
		position: relative;
	}
	padding: 15px;
	h2 {
		margin-left: 15px;
	}
	.item {	
		margin: 15px;
	}
}

@media screen and (max-width:760px) {
	.introduce .news {
		div .more {
			padding-left: 0px;
		}
	}
}

			