<section class="container banner">
    <div class="row">
	     <div id="owl-slider" class=" owl-carousel owl-theme" >       
        	<div class="item1">       		        	        	
        	</div>
        	<div class="item2">         	            
        	</div>  
            <div class="item3">                       
            </div>
	    </div>    
    </div>
</section>