<footer>
	<div class="black2-bg"></div>	
	<div class="container">
    	<div class="row"> 
		<section class="footer-info col-md-12">
			<div class="col-sm-6 col-md-3">
				<h3>LATEST TWEETS</h3>
				<p>loading tweets...</p>
			</div>
			<div class="col-sm-6 col-md-3 testimonial">
				<h3>TESTIMONIALS</h3>
				<p>Sed dapibus molestie interdum. Fusce nec est ante, sit amet lacinia lorem. Maecenas nec eros ut mauris pulvinar suscipit. Aliquam erat</p>
				<div class="men">
					<img src="images/men.jpg" alt="men" class="img-responsive">
				</div>
				<div class="name">
					<h5>Stephen Bingham</h5>					
					<a href="#">demolink.org</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<h3>GET IN TOUCH!</h3>
				<form>
					<input type="text" class="form-control" placeholder="Name">
					<input type="email" class="form-control" id="InputEmail1" placeholder="Email">
					<textarea class="form-control" rows="3" placeholder="Message"></textarea>
					<button type="button" class="mybtn mybtn-primary">CLEAR FORM</button>
					<button type="button" class="mybtn mybtn-accent">SEND!</button>
				</form>	
			</div>
			<div class="col-sm-6 col-md-3">
				<h3>FLICKR</h3>
				<div class="flickr">				    
					<div class="flickr col-xs-4 col-md-3">				
						<img src="images/f1.jpg" alt="f1" class="img-responsive">
					</div>
					<div class="flickr col-xs-4 col-md-3">				
						<img src="images/f2.jpg" alt="f2" class="img-responsive">
					</div>
					<div class="flickr col-xs-4 col-md-3">				
						<img src="images/f3.jpg" alt="f3" class="img-responsive">
					</div>
					<div class="flickr col-xs-4 col-md-3">				
						<img src="images/f4.jpg" alt="f4" class="img-responsive">
					</div>								
					<div class="flickr col-xs-4 col-md-3">				
						<img src="images/f5.jpg" alt="f5" class="img-responsive">
					</div>
					<div class="flickr col-xs-4 col-md-3">				
						<img src="images/f6.jpg" alt="f6" class="img-responsive">
					</div>
					<div class="flickr col-xs-4 col-md-3">				
						<img src="images/f7.jpg" alt="f7" class="img-responsive">
					</div>
					<div class="flickr col-xs-4 col-md-3">				
						<img src="images/f8.jpg" alt="f8" class="img-responsive">
					</div>			    
					<div class="flickr col-xs-4 col-md-3">				
						<img src="images/f9.jpg" alt="f9" class="img-responsive">
					</div>
					<div class="flickr col-xs-4 col-md-3">				
						<img src="images/f10.jpg" alt="f10" class="img-responsive">
					</div>
					<div class="flickr col-xs-4 col-md-3">				
						<img src="images/f11.jpg" alt="f11" class="img-responsive">
					</div>
					<div class="flickr col-xs-4 col-md-3">				
						<img src="images/f12.jpg" alt="f12" class="img-responsive">
					</div>
				</div>           				
			</div>
			<div class="clearfix"></div>
		</section>
		<section class="footer-link">
			<div class="copyright">
				<p>BUSINESS PLANET &copy; 2020　|　<a href="">Privacy Policy</a></p>
			</div>
			<ul class="list list-footer">				    
				<li><a href="">HOME</a></li>
				<li><a href="">ABOUT</a></li>
				<li><a href="">FEATURES</a></li>
				<li><a href="">PORTFOLIO</a></li>
				<li><a href="">BLOG</a></li>
				<li><a href="">CONTACTS</a></li>
			</ul>		
		</section>
    </div>
    </div>
</footer>