<header>
    <div class="container">     
        <div class="row">
            <div class="main col-md-12">
                <div class="logo">
                    <img src="images/logo.png" alt="logo" class="img-responsive">
                </div>
                <div class="social">
                    <ul>
                        <li><a href="" ></a></li>
                        <li><a href="" ></a></li>
                        <li><a href="" ></a></li>
                        <li><a href="" ></a></li>
                        <li><a href="" ></a></li>      
                    </ul>
                    <p class="text-right">Call Us Now: +1 ( 777) 784-25-43</p>
                </div>
            </div>                
        </div>
    </div>        
</header>

