.list {
	li {
		display: inline;
		padding: 0 5px;
		border-right: 1px solid #5c5c5c;
		&:last-child{
			border-right: none;
		}
    &:hover {
      a {
        text-decoration: none;
      }   
    }
	}

}
.list-footer {
  li {
    a {
      color: $text-color;
    }
    &:hover {
       a {
        color: $text-color-hover;
      }
    } 
  }
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}


// button
.mybtn {
  display: inline-block;
  padding: .375rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  height: 2.7rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.mybtn-primary {
    color: #fff;
    background-color: $btn-primary;
    &:hover {
        background-color: darken($btn-primary,15%);
    }
}
.mybtn-accent {
    color: #fff;
    background-color: $btn-accent;
    &:hover {
        background-color: darken($btn-accent,15%);
    }
}