// font-family
$font-primary: "Roboto";


//navbar
$nav-bgcolor: #fff;
$nav-text: #000;
$nav-bgcolor-hover: #80b600;
$nav-text-hover: #fff;
$form-bgcolor: #F0F0F0;


//banner
$owlButtons-bgcolor: #80b600;


//contents
$infobox-bgcolor: #F0F0F0;
$infobox-bgcolor-hover: #707070;

$arrow-bgcolor: #d0d0d0;
$arrow-bgcolor-hover: #707070;
$chooselink-bgcolor: #5B5B5B;
$chooselink-bgcolor-hover: #000;
// $boxOdd-bgcolor: #f1f1f1;
// $box-linktext: #266fff;
// $box-linktext-hover: green;
// $icon-oddColor: #B2B2B2;
// $icon-evenColor: #fff;
// $icon-evenBgcolor: #B2B2B2;

// // footer
// $footer-bgcolor: #f1f1f1;
